.App {
  text-align: center;
  height: 100vh;
}

.body-page-content {
  width: 100%;
}

.NavigationContainer {
  display: flex;
  max-width: 200px;
  width: 100%;
  flex-direction: column;
  background-color: #282c34;
}

.NavigationContainer a {
  color: #ffffff;
  font-size: 25px;
  margin: 25px 0;
  text-decoration: unset;
}

.NavigationContainer a:hover {
  transform: scale(1.1);
}

.WelcomePageContainer {
  width: 100%;
}

.body-container {
  display: flex;
  height: calc(100vh - 70px);
}

.App-header {
  background-color: #282c34;
  max-height: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tasksConatiner {
  width: fit-content;
}

.done + .TicketBtn {
  background-color: #98dbac;
  cursor: default;
}

.done + .TicketBtn:hover {
  background-color: #98dbac;
  cursor: default;
  border: 1px solid #98dbac;
  color: #ffffff;
}

.tasksConatiner li {
  font-size: 18px;
  font-weight: 600;
  color: #3c4043;
}

.tasksConatiner li:nth-child(even) {
  background-color: #ffffff;
}

.tasksConatiner li:nth-child(odd) {
  background-color: #f4f4f4;
}

.TicketBtn {
  margin: 0 5px;
  border: none;
  background-color: #3895d3;
  border-radius: 4px;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 12px;
  width: 50px;
  font-weight: 100;
  height: 25px;
  font-family: inherit;
  cursor: pointer;
}

.TicketBtn:hover {
  border: 1px solid #3895d3;
  background-color: #ffffff;
  color: #3895d3;
}

.TicketBtn:focus {
  outline: none;
}

.TasksListPage {
  display: flex;
}

.AddNewTickets {
  margin-top: 15px;
}

.AddNewTickets input {
  max-width: 155px;
  height: 21px;
  border-radius: 5px;
  border: 1px solid #3c4043;
}
